WrapLayout{
background-image: url("res://mountain");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

ActionBar {
    background-color:  #23419B;
    color: white;
}

.fullName{
    font-size: 18;
   color: #23419B;
    margin-left: 70;
    font-weight: bold;
}
.phone{
    font-size: 12;
    color: #23419B;
    margin-left: 70;
    font-weight: bold;
}
.profile-image{
    width: 10%;
    height: 20;
    border-radius: 30;
    border-color: gray;
}