StackLayout{
background-image: url("res://mountain");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.grid-header {
    font-weight: bold;
    font-size: 18;
    text-align: center;
    vertical-align: center;
    color: white;
    background-color: #23419B;
}

.grid-data {
    color: black;
    text-align: center;
   font-weight : bold;
}

ActionBar {
    background-color:  #23419B;
    color: white;
}
.schedule-button{
    margin: 10 0 10 30;
    width: 30%;
}