.dd-layout{
    margin: 20 0 0 10;
    font-size: 18;
   
}
.dd-days{
    text-align: center;  
}

.event-textField{
  
    margin-bottom: 10;
}

.label-alignment{
    margin-left: 10;
}
.dd-alignment{
    margin-top: 0;
    margin-left: 10;
    text-align: center;
}
.submit-button{
    background-color: green;
    height: 40;
}

.title-text{
    font-weight: bold;
    font-size: 15;
}

/*.testGrid{
    background-color: yellowgreen;
}

.testStack{
    background-color: deeppink;
    margin-left: 40;
    margin-right: 40;
}*/