
.profile-image{
    margin: 20px 15px 20px 15px;
    border-radius: 30;
    border-color: gray;
    border-width: 10;
    height:260;
    width:260;
  }
  
  
  .friend-name{
      font-size: 30;
      font-weight: bold;
      /* font-family: Verdana, Tahoma, sans-serif !important; */
      font-family: "Sansation-Light";
  }
  
  .username{
      font-size: 15;
  }
  
  .bio{
      margin-top: 20;
      margin-bottom: 20;
      font-size: 20
  }
  .font-awesome {
    font-family: "FontAwesome";
    font-size: 20;
    }

  .submit-button {
    background-color: #27ae60;
    margin-top: 20;
  }
  Button, TextField {
    margin-left: 6;
    margin-right: 6;
    margin-bottom: 10;
  }
  Button{
    height: 65;
    color: white;
  
  }
  .status{
  
      font-size: 25;
      font-family: Verdana, Tahoma, sans-serif !important;
      font-weight: bold;
  
  }
  .login-entry-form{
    margin-left: 30;
    margin-right: 30;
    margin-top: 20;
 }


.profile-image{
  margin: 20px 0 20 15px;
  border-radius: 30;
  border-color: gray;
  border-width: 10;
  height:350;
  width:350;
}


.friend-name{
    font-size: 30;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif !important;
}

.username{
    font-size: 15;
}

.bio{
    margin-top: 20;
    margin-bottom: 20;
    font-size: 20


}



.status{

    font-size: 25;
    font-family: Verdana, Tahoma, sans-serif !important;
    font-weight: bold;

}

