WrapLayout{
background-image: url("res://picture");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.container{
  margin-top: 100;
}
Button, TextField {
  margin-left: 6;
  margin-right: 6;
  margin-bottom: 6;
}

TextField {
  padding: 12 6;
  font-size: 15;
  color: black;
}
Button{
  height: 65;
  color: white;
}
.submit-button {
  background-color: #27ae60;
  margin-top: 20;
  border-radius: 8;
  width: 30%;
  height: 120px;
}

.faq-button{
  background-color: #4099ff;
}

.login-entry-form{
   margin-left: 30;
   margin-right: 30;
   margin-top: 20;
}

.login-entry-form-icon{
  margin-top:12;
  color: black;
}

.btn-outline{
  color: white;
}

/*.create-field{
  margin-left: 200px;
  }*/
.hand-image{
  height: 200;
}

.extra-actions{
  margin-top: 7;
 margin-left: 350px;
  font-size: 15;
  font-family: sans-serif;
}
.textField_1{
  background-color: whitesmoke;
  border-color: white;
  border-width: 3px;
   border-radius: 40px;
   width:80%;
   margin-top: 30px;
}

.icons-extra-actions{
  color: white;
  margin-top:3;
}

.text{
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 200px;
}
.friends-tracker{
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  width: 70%;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 40px;
  border-radius: 150;

}
